body {
    box-sizing: border-box;
    color: white;
    background-image: url(./img/background-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    margin-top: 50px;
    padding: 50px 10px 0 10px;
}

#chips-wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 50px;

}

.casino-chip {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 50px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.img-chip-bet {
    position: absolute;
    width: 45px; 
    transition: 0.3s;
}

.cost {
    padding-left: 75px;
    font-size: 38px;
}

#roulette-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-right: 40px;
    width: 945px;

}

#section-numbers-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 945px;
}

.section-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74.75px;
    height: 75px;
    cursor: pointer;
    border: 2px solid white;
    transition: 0.2s;
    font-size: 23px;
}

.section-numbers:hover {
    font-size: 35px;
    transition: 0.2s;
}

#sections-up {
    display: flex;
    cursor: pointer;
}

.section-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    transition: 0.2s;
    border: 2px solid white;
    font-size: 23px;
}

.section-up:hover {
    font-size: 35px;
    transition: 0.2s;
}

#sections-down {
    display: flex;
    cursor: pointer;
}

.section-down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s;
    height: 45px;
    font-size: 23px;
}

.section-down:hover {
    font-size: 35px;
    transition: 0.2s;
}

.section-down:nth-of-type(3) {
    background-color: red;
}
.section-down:nth-of-type(4) {
    background-color: black;
}

#zero {
    position: absolute;
    left: -52px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 235px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 25px;
}

#zero:hover {
    font-size: 35px;
    transition: 0.2s;
}

#value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 225px;
    font-size: 150px;
    margin-bottom: 10px;
    font-weight: bold;
}

#score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin-bottom: 10px;
}

#bet {
    color: rgb(220, 20, 20);
    border: 1px solid white;
    border-radius: 5px;
    background-color: #f2dfa2;
    padding: 2px;
}

#win {
    color: green;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #f2dfa2;
    padding: 2px;
}

#amount-wrapper {
    display: flex;
    background-color: #f2dfa2;
    padding: 2px;
    color: black;
    margin-bottom: 20px;
    border-radius: 5px;
    column-gap: 5px;
}

#btn-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 200px;
    margin-top: 30px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 90px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: rgba(7, 19, 5, 0.337);
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 25px;
}

.btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn:hover {
    font-size: 35px;
    transition: 0.2s;
}

#casino-choice {
    position: absolute;
    display: none;
    justify-content: center;
    width: 68px;
    height: 68px;
    z-index: 1;
}

.img-chip {
    width: 100%;
    height: auto;
}





